.DSA_wb_Secondary .mat-tab-label,
.DSA_wb_Secondary .mat-tab-link{
    height:40px;
    font-family: $font-style-2;
}
.DSA_wb_Secondary .mat-tab-label:hover,
.DSA_wb_Secondary .mat-tab-link:hover{
    background: $bg-neutral-40;
    border-radius:$border-radius-big;
}
.DSA_wb_Secondary .mat-tab-label:active,
.DSA_wb_Secondary .mat-tab-link:active{
    background: $bg-primary-60;
}
.DSA_wb_Secondary .mat-tab-label-active,
.DSA_wb_Secondary .mat-tab-label-active:hover{
    background:none;
    color:$text-primary-80;  
}
.DSA_wb_Secondary .mat-tab-label-active:active{
    font-weight: $font-600;  
}
.DSA_wb_Secondary .mat-tab-group.mat-primary .mat-ink-bar,
.DSA_wb_Secondary .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    height:2px;
    display: block;
}
.DSA_wb_Secondary .mat-tab-group.mat-primary :not(.mat-tab-disabled).mat-tab-label.cdk-keyboard-focused,
.DSA_wb_Secondary .mat-tab-group.mat-primary :not(.mat-tab-disabled).mat-tab-label.cdk-program-focused,
.DSA_wb_Secondary .mat-tab-group.mat-primary :not(.mat-tab-disabled).mat-tab-link.cdk-keyboard-focused,
.DSA_wb_Secondary .mat-tab-group.mat-primary :not(.mat-tab-disabled).mat-tab-link.cdk-program-focused,
.DSA_wb_Secondary .mat-tab-nav-bar.mat-primary :not(.mat-tab-disabled).mat-tab-label.cdk-keyboard-focused,
.DSA_wb_Secondary .mat-tab-nav-bar.mat-primary :not(.mat-tab-disabled).mat-tab-label.cdk-program-focused,
.DSA_wb_Secondary .mat-tab-nav-bar.mat-primary :not(.mat-tab-disabled).mat-tab-link.cdk-keyboard-focused,
.DSA_wb_Secondary .mat-tab-nav-bar.mat-primary :not(.mat-tab-disabled).mat-tab-link.cdk-program-focused{ 
    background: none!important;
    color:$text-primary-80!important;
}
.DSA_wb_Secondary .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination{
    margin-top: 10px;
}