/*material tab*/
.DSA_navTab{
    padding:8px 0px;
}
.DSA_navTabWhite .mat-tab-header{
    background:$bg-white;
}
.DSA_navTabTrans .mat-tab-header{
    background:none;
}
.DSA_navTabTransBorder .mat-tab-header{
    background:none;
    border-bottom:1px solid $bg-neutral-50;
}    
.DSA_wb_customTab .mat-tab-label,
.DSA_wb_customTab .mat-tab-link{
    height: 80px;
    color:$text-neutral-80;
    font-size: $size-button-18;
    font-weight: $font-400;
    font-style: normal;
    min-width:auto;
    opacity: 1;
    padding: 0 24px;
    margin:0 0px;
}
.DSA_wb_customTab .mat-tab-header, 
.DSA_wb_customTab .mat-tab-nav-bar{
    border-bottom: 1px solid $border-neutral-40;
    
}      
.DSA_wb_customTab .mat-tab-label:hover,
.DSA_wb_customTab .mat-tab-link:hover{
    color:$text-black;
    background: $bg-neutral-50;
}
.DSA_wb_customTab .mat-tab-label:active,
.DSA_wb_customTab .mat-tab-link:active{
    color:$text-black;
    background: $text-neutral-60;
}
.DSA_wb_customTab .cdk-focused:active{
    color:$text-primary-80;
    font-weight: $font-400;
    background: $text-neutral-60;
} 
.DSA_wb_customTab .mat-tab-label-active{
    color:$text-primary-80;
    font-weight: $font-600;
    font-style: normal;    
}
.DSA_wb_customTab .mat-tab-label-active:hover{
    background:none;
    color:$text-primary-80;
}
.DSA_wb_customTab .mat-tab-label-active:active{
    font-weight: $font-600;      
    color:$text-primary-80;
    background: $text-neutral-60;
}    
.DSA_wb_customTab .mat-tab-group.mat-primary .mat-ink-bar,
.DSA_wb_customTab .mat-tab-nav-bar.mat-primary .mat-ink-bar{
    background: $bg-primary-80;
    height:4px;
}
.DSA_wb_customTab .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination{
    height: 24px;
    width: 24px;
    min-width:24px;
    margin-top: 30px;
    padding: 0;
    background: $bg-white;
    @extend %default-shadow;
  }
.DSA_wb_customTab .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination-before{
    margin-left: 5px;  
}
.DSA_wb_customTab .mat-tab-header-pagination-controls-enabled .mat-tab-header-pagination-after{
    margin-right: 5px;
}
.noTAB_border .mat-tab-header, .noTAB_border .mat-tab-nav-bar{
    border:0;
}